<h1>MORAVIA FLORECE PARA LA VIDA</h1>

<%= image_tag("cerrodemoravia.jpg", id:"imagen") %>
<p>
Moravia Florece Para La Vida es un proyecto que logra contribuir positivamente en el ambiente al mismo tiempo que fortaleze el deseo de emprender de la comunidad. <b>Jarum</b> es uno de los emprendimintos sin animo de lucro que nace de este gran proyecto.
<br>	
Aquel lugar en Moravia que a mediados de 1982 fué un vertedero de basuras al aire libre, el cual recibio por más de una década 1.5 millones de toneladas de todo tipo de desechos es en la actualidad, uno de los grandes ejemplos de trasnformación socio-ambiental en el área metropolitana del Valle de Aburrá.
<%= image_tag("http://la.network/wp-content/uploads/2017/02/Antes-Moravia.jpg", id:"imagen")%>
Medellín, como muchas ciudades, estaba en un crecimiento intensivo de su población durante los años 60; en parte debido a su vocación industrial, pero aún más debido a la migración rural, que generó <b>invasiones en lugares como este vertedero a cielo abierto en el cúal más de 15 mil personas viverón entre la basura y las plagas</b>. La gente sobrevivió en esa colina en condiciones muy precarias y
constantemente expuestos a riesgos químicos y biológicos debido a el gran contenido venenoso de la montaña de basura sobre la cual ellos tenían sus ranchos construidos.
<%= image_tag("https://blogs.iadb.org/wp-content/blogs.dir/55/files/2014/09/Moravia-2.jpg.png", id:"imagen")%>
Era a partir de 1991 cuando el Programa Integral de mejoramiento de barrios subnormales en Medellín (<%= link_to "PRIMED", "http://unesdoc.unesco.org/images/0012/001297/129776so.pdf" %>) decidió tomar las primeras acciones para el mejoramiento ambiental del cerro; en colaboración con la administración municipal, universidades públicas y la comunidad dieron inicio al proyecto a gran escala de moravia. En 2006 comienzan los estudios para la recuperación ambiental del cerro y allí nace el macro-proyecto integral impulsado por la Cátedra UNESCO en conjunto con otras entidades de Medellín. <b>Los objetivos de este proyecto están basados en el mejoramiento la las condiciones socio-económicas y ambientales de las personas a partir del uso de tecnologías sostenibles. </b>
<br>
En el primer paso el proyecto debía realizar censos en cada uno de los ranchos localizados dentro y alrededor del sector. Terminado esto, se da incio a la reubicación de las familias dirigido por el <%=link_to "ISVIMED", "http://isvimed.gov.co/" %>.
<b>El proyecto buscó la integración de las personas con el cerro, mostrandolo como un espacio de interacción con el ambiente</b>. Para esto le ofrecierón a los habitantes aledaños al cerro, la posibilidad de hacer parte de la transformación, siendo ellos incluidos en el hambito de paísajismo. Estas personas recibierón formaciones pertinentes para estos trabajos. 
<%= image_tag("http://2.bp.blogspot.com/-0EoplgrewMs/VWR6RLQZezI/AAAAAAAABKs/W2GeXLe3FsM/s1600/basurero_moravia.jpg", id:"imagen")%>
El proyecto logro en 2015 <b>trasformar una montaña de basura en más de treinta mil metros cuadrados de zona verde, camino ecológico y obras de arte construidas al lado de material reciclable.</b>
<%= image_tag("http://3.bp.blogspot.com/-Qxl2p64orn8/VWR6RJV8tuI/AAAAAAAABKw/pIHimG042fw/s1600/panorc3a1mica.jpg", id:"imagen")%>
<b>Algunos de los jardineros que fueron formados con objetivo de contribuir a la transformación más grande de Moravia, se enamoraron de la remediación de la tierra, y han decidido hacerlo ellos mismos</b>. De modo que esto Jarum: un equipo de jardineros para ayudar a remediar naturalmente los espacios muertos (Jarum es la abreviatura de Jardineros Unidos de Moravia).
<br>
La unidad principal de Jarum se encuentran en el cerro de Moravia. Es un laboratorio donde se han plantado bellos tipos de flores y plantas, también diferentes actividades se llevan a cabo con la comunidad en este sentido.
<%= image_tag("miembrosdejarum.jpg", id:"imagen")%>
<b>Jarum es una organización ambiental joven llena de entusiasmo y deseo de generar un gran cambio a través de sus servicios y la participación activa en el mercado, las empresas y la comunidad</b>. De esta forma podemos ver un gran ejemplo de cambio, ejemplo de deseo, de éxito y de abordaje conectado al amor por el medio ambiente. UN final feliz para el medio ambiente y para el comunidad.
</p>
