<%= link_to image_tag("logojarum.png", :id =>'logo', :class =>'img-responsive'), index_url %>
<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menú
  </button>
  <ul class="dropdown-menu" style="position:relative;">
    <li id="dropdown-item" ><%= link_to "Material Vegetal", index_url %></li>
    <li id="dropdown-item" ><%= link_to "Compost", index_url %></li>
    <li id="dropdown-item" ><%= link_to "Paisajísmo", index_url %></li>
    <li id="dropdown-item" ><%= link_to "Huerta", index_url %></li>
    <li id="dropdown-item" ><%= link_to "Moravia Florece Para la Vida", moraviafloreceparalavida_url %></li>
    <li id="dropdown-item" ><%= link_to "EcoAroma", index_url %></li>
  </ul>
</div>
